$background: #141414;
$dark: rgb(0, 0, 0);
$gray: rgb(122, 122, 122);
$gray-100: #171818;
$gray-200: rgb(73, 73, 73);
$gray-400: rgb(167, 167, 167);
$gray-500: rgb(221, 221, 221);
$red: #f80616de;
$white: rgb(255, 255, 255);
$media-sm: 600px;
$media-md: 980px;
$media-lg: 1184px;
$media-xl: 1633px;
