.submenu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 3px;
  opacity: 1;
  color: $white;
  transition-delay: 0.5s;
  background-color: rgba($dark, 0.8);
  border: 1px solid rgba($white, 0.5);
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  opacity: 0;
  transform: translateY(-600px);
  &--text {
    width: 60%;
    padding-top: 1.2rem;
    font-size: 1.2rem;

    &:hover {
      border-bottom: 1px solid $white;
    }
  }

  &--item {
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    &:nth-child(2) {
      .submenu--item__avatar {
        background: linear-gradient(to bottom, #ffc837, #ff8008);
      }
    }
    &:nth-child(3) {
      .submenu--item__avatar {
        background: linear-gradient(to bottom, #1d2b64, #f8cdda);
      }
    }
    &__avatar {
      margin-right: 0.5rem;
      height: 2rem;
      width: 2rem;
      border-radius: 5px;
      background: linear-gradient(to bottom, #eaecc6, #2bc0e4);
    }

    &__text {
      font-size: 0.785rem;
      font-weight: 300;
    }

    &:hover .submenu--item__text {
      text-decoration: underline;
    }
    &.divider {
      border-top: 1px solid $white;
      margin-top: 0.5rem;
      padding-top: 0.7rem;
    }
    &__icon {
      margin-right: 5px;
    }
  }
}

.submenu:hover {
  transition: all 0.4s;
  opacity: 1;
  transform: translateY(1px);
}
